<a href="https://colab.research.google.com/github/Saujanyapokhrel/Data-Processing-Visualization/blob/main/Exam2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
import pandas as pd
import numpy as np

In [134]:
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')
df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [135]:
df.dtypes


# change % to float

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

In [136]:
df=df.drop(columns=["Unnamed: 0"])
df.columns

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max(%)', 'aerobic(%)', 'anaerobic(%)',
       'intensive(%)', 'light(%)'],
      dtype='object')

In [77]:
df.columns=df.columns.str.replace('[%,(,)]', '')
df.columns=df.columns.str.strip()
df.columns

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max', 'aerobic', 'anaerobic', 'intensive',
       'light'],
      dtype='object')

In [78]:
df.activity_day=pd.to_datetime(df.activity_day)

In [79]:
df.total_steps=df.total_steps.fillna(0)
df.total_steps=df.total_steps.astype(int)
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light
0,2022-01-01,Freestyle,9.30,77,123,0,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,0,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,0,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,0,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [80]:
# splitting the string from ":" to seperate hour and minute
date_format= df[df.avg_pace.notnull()]["avg_pace"].str.split(':')
hour,min = date_format.str[0], date_format.str[1]  

df.loc[df.avg_pace.notnull(),"avg_pace"]=hour.astype(float) + (min.astype(float) / 60)

In [85]:
type(df.avg_pace[3])

float

In [95]:
df.groupby("workout_type")["calories"].agg({"mean","median","count","std"})

                        std  median  count        mean
workout_type
Cricket          149.950609   330.0     93  307.548387
Freestyle        163.703768   294.0     96  278.552083
Indoor Cycling   156.633322   306.0     80  280.450000
Open Water       160.068499   328.0     91  296.747253
Outdoor Cycling  158.731263   301.0     85  299.129412
Outdoor Running  165.725080   349.0     81  301.469136
Pool Swimming    157.576703   300.0     94  283.414894
Trail Run        155.748533   264.0     90  267.966667
Treadmill        146.963352   269.5     98  278.142857
Trekking         151.034870   280.5     94  283.127660
Walking          157.287570   270.5     98  276.040816

In [124]:
# initially assuming all values as False
df["30%_more"]=0
# setting up condition for True
df.loc[df.aerobic>=30,"30%_more"]=1
df

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,...,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light,30%_more,day_of_week
0,2022-01-01,Freestyle,9.30,77,123,0,18.88,168.54,138.30,NaN,...,112.5,122.0,103,19,28,2,7,50,0,Saturday
1,2022-01-01,Freestyle,3.44,96,55,0,29.65,125.92,292.81,NaN,...,111.0,122.0,100,42,28,2,29,88,0,Saturday
2,2022-01-01,Indoor Cycling,6.34,85,33,0,17.85,81.93,323.69,NaN,...,95.0,90.0,100,1,32,0,22,43,1,Saturday
3,2022-01-01,Walking,7.91,42,82,1571,22.10,29.63,180.16,7.966667,...,83.0,85.0,81,3,22,0,24,65,0,Saturday
4,2022-01-01,Open Water,8.99,36,131,0,25.83,64.55,342.89,NaN,...,138.0,166.0,110,7,0,5,21,88,0,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,0,28.66,173.30,234.73,NaN,...,133.5,175.0,92,22,20,15,21,61,0,Monday
996,2022-02-14,Freestyle,9.48,61,219,0,9.23,114.34,109.32,NaN,...,103.0,122.0,84,18,28,2,17,86,0,Monday
997,2022-02-14,Freestyle,3.30,40,169,0,7.37,133.97,122.96,NaN,...,114.5,122.0,107,18,28,2,23,98,0,Monday
998,2022-02-14,Indoor Cycling,4.40,47,52,0,10.75,147.65,116.51,NaN,...,96.0,90.0,102,45,32,0,13,57,1,Monday
999,2022-02-14,Indoor Cycling,1.57,116,106,0,25.37,143.41,182.80,NaN,...,96.5,90.0,103,14,32,0,24,83,1,Monday

In [130]:
df["day_of_week"]=df.activity_day.dt.day_name()
df.groupby("day_of_week")["max_cadence"].max()

day_of_week
Friday       347.81
Monday       348.96
Saturday     349.76
Sunday       346.43
Thursday     347.40
Tuesday      349.39
Wednesday    349.78
Name: max_cadence, dtype: float64

In [131]:
df.groupby("workout_type")["max_cadence"].max()

workout_type
Cricket            331.36
Freestyle          347.81
Indoor Cycling     342.94
Open Water         349.76
Outdoor Cycling    346.40
Outdoor Running    348.80
Pool Swimming      349.78
Trail Run          341.55
Treadmill          349.66
Trekking           349.31
Walking            348.96
Name: max_cadence, dtype: float64

In [132]:
df[df.max_cadence==df.max_cadence.max()][["day_of_week","workout_type","max_cadence"]]
# Pool Swimming on Wednesday has max cadence

    day_of_week   workout_type  max_cadence
726   Wednesday  Pool Swimming       349.78