<a href="https://colab.research.google.com/github/Saujanyapokhrel/Data-Processing-Visualization/blob/main/Quiz6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Authenticating the user importing auth function.

In [7]:
%%bigquery --project data-visualization-338722
SELECT station_id, property_type,
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
limit 50

    station_id property_type
0         3464          None
1         2500          None
2         2536          None
3         2538          None
4         2541          None
5         2545          None
6         2546          None
7         2550          None
8         2564          None
9         2576          None
10        2712          None
11        3381          None
12        1001          None
13        1002          None
14        1003          None
15        1004          None
16        1005          None
17        1006          None
18        1007          None
19        1008          None
20        2502
21        3687      parkland
22        3684      parkland
23        2572      parkland
24        2575      parkland
25        2574      parkland
26        2707      parkland
27        1111      sidewalk
28          11      sidewalk
29        4699      sidewalk
30        2570      sidewalk
31        2496      sidewalk
32        3294      sidewalk
33        2497      sidewalk
34        4047      sidewalk
35        2503      sidewalk
36        2711      sidewalk
37        2565      sidewalk
38        3619      sidewalk
39        3798      sidewalk
40        3799      sidewalk
41        3291      sidewalk
42        2539      sidewalk
43        2571      sidewalk
44        2542      sidewalk
45        2549      sidewalk
46        2561      sidewalk
47        3455      sidewalk
48        3513      sidewalk
49        3790      sidewalk

using the dataset austin_bikeshare and getting the information from station_id and property_type and making them as a singlr table from bikeshare_stations and limiting the results to 50.

In [9]:
%%bigquery --project data-visualization-338722
WITH t as(
SELECT name, property_type
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
)
SELECT t.property_type as starting_station_type, 
    AVG (trips.duration_minutes) as average_min,
    COUNT(*) as number_of_trips,
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` as trips
  JOIN t
  ON trips.start_station_name = t.name

GROUP BY t.property_type
ORDER by average_min

  starting_station_type  average_min  number_of_trips
0  undetermined_parking    23.098028           225333
1                  None    25.697646            68046
2          paid_parking    25.852535           280405
3              sidewalk    29.263569           432392
4                          33.502832            19776
5              parkland    39.375957           141806
6    nonmetered_parking    49.046326            11052

Combining the property_type as starting_station_type and computing the number of trips and the average time in minutes as average_min from austin_bikeshare.bikeshare_stations and displaying the information as one table.

**Yes, the average time on trips starting from 'parkland' longer than from 'sidewalks'**