<a href="https://colab.research.google.com/github/Saujanyapokhrel/Data-Processing-Visualization/blob/main/Quiz16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#IMPORTING THE CSV FILE FROM https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv

In [4]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')

df.head(15).T

                                             0   ...                                   14
id          __export__.temp_log_196134_bd201015  ...  __export__.temp_log_196095_788b2c27
room_id/id                           Room Admin  ...                           Room Admin
noted_date                     08-12-2018 09:30  ...                     08-12-2018 09:22
temp                                         29  ...                                   29
out/in                                       In  ...                                   In

[5 rows x 15 columns]

##converting noted_date into DateTime

In [6]:
df.noted_date=pa.to_datetime(df.noted_date)
df

                                        id  room_id/id  ... temp  out/in
0      __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1      __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2      __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3      __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4      __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
...                                    ...         ...  ...  ...     ...
97601   __export__.temp_log_91076_7fbd08ca  Room Admin  ...   31      In
97602  __export__.temp_log_147733_62c03f31  Room Admin  ...   31      In
97603  __export__.temp_log_100386_84093a68  Room Admin  ...   31      In
97604  __export__.temp_log_123297_4d8e690b  Room Admin  ...   31      In
97605  __export__.temp_log_133741_32958703  Room Admin  ...   31      In

[97606 rows x 5 columns]

##finding the max date and time

In [7]:
df.noted_date.max()

Timestamp('2018-12-10 23:55:00')

##finding the min date and time

In [8]:
df.noted_date.min()

Timestamp('2018-01-11 00:06:00')